<h2>Please Sign In</h2>


<form method="POST" action="/signup">
<label>Username: <input type="text" name="username"></label>
<label>Email: <input type="text" name="email"></label>
<label>Password: <input type="text" name="password_digest"></label></br>
  <input type="submit" value="Log In">
</form>
