<% @user.wishlists.each do |wishlist| %>
  <p><a href="/wishlists/<%=wishlist.id%>"><%= wishlist.giftee %></a></p>
    <ul>
      <li><%=wishlist.list_content%></li>
    </ul>
<% end %>



<p><a href="/wishlists/new">Create New Wishlist</a>
<p><a href="/wishlists">See What Other Users have on their Wishlists</a>
<p><a href="/logout">Logout</a>
