<form method="post" action="/wishlists/<%=@wishlist.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="list_content" value="<%= @wishlist.list_content %>">
  <input type="submit" value="submit">
</form>


<p><a href="/logout">Logout</a>
