<form method="POST" action="/wishlists">
<label>Giftee: <input type="text" name="giftee"></label>
<label>Christmas Wish List: <input type="text" name="list_content"></label></br>
  <input type="submit" value="Sign In">
</form>




<p><a href="/logout">Logout</a>
