
<h2><%= @wishlist.giftee %></h2>
  <ul>
    <li><%=@wishlist.list_content%></li>
  </ul>

<p><a href="/wishlists/new">Create New Wishlist</a>
<p><a href="/wishlists">See What Other Users have on their Wishlists</a>
<p><a href="/logout">Logout</a>
