<%Wishlist.all.each do |wishlist|%>

<h3><%=wishlist.giftee%></h3>
<ul>
  <li><%=wishlist.list_content%></li>
</ul>

  <p>Created by: <%=wishlist.user.username%></p>
<%end%>

<p><a href="/user/show">View your wishlists</a>
<p><a href="/wishlists/new">Create A New List</a>
<p><a href="/logout">Logout</a>
