<!doctype html>
<html>
  <head>
    <title>Christmas Wishlist Tracker</title>
    <h1>Christmas Wishlist Tracker</h1>
    <p>Welcome to Your Wishlist Tracker, Use it To Track the Wishlists of All Your Friends and Family!</p>
  </head>
  <body>

    <div class="container">
      <h1></h1>
      <%= yield %>

    </div>


  </body>
</html>
